node_modules
.env

# Hardhat files
contracts/cache
contracts/artifacts

# TypeChain files
contracts/typechain
contracts/typechain-types

# solidity-coverage files
contracts/coverage
contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
.DS_Store
dist/
.openzeppelin/unknown-10143.json
.next/
